<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Login</title>
  </head>
  <body>
    <form action="/login" method="post"></form>
    <div class="register">
      <label for="email">Email</label
      ><input
        type="text"
        id="email"
        name="email"
        class="register__email"
        required
      />
    </div>
    <div class="register">
      <label for="password">password</label
      ><input
        type="password"
        id="password"
        name="password"
        class="register__password"
        required
      />
    </div>
    <button type="submit">Register</button>

    <a href="/register"></a>
  </body>
</html>
